html, body {
  margin: 0;
  padding: 0;
}

body,
body input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

@import "components/index";
@import "views/index";

#container {
  margin: 50px auto;
  width: 50%;

  * {
    box-sizing: border-box;
  }

  h1 {
    height: 50px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    background-image: url(/images/logo2.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    span {
      color: #888;
    }
  }

  hr {
    margin: 30px auto;
    width: 50%;
    border: none;
    border-bottom: 1px solid #eee;
  }

  .text-center {
    text-align: center;
  }

  video.selfie {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 1000px;
    object-fit: cover;
    transition: border 0.25s;
    transition-timing-function: ease-out;
  }

  video.selfie.paused {
    border: 5px solid #00AAFF;
  }
}
