html, body {
  margin: 0;
  padding: 0;
}

body,
body input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

/*
  How to vertically align text:
  --
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
*/

#container {
  margin: 50px auto;
  width: 50%;
}

#container * {
  box-sizing: border-box;
}

#container h1 {
  font-size: 24px;
  text-align: center;
}

#container h1 span {
  color: #888;
}

#container hr {
  margin: 30px auto;
  width: 50%;
  border: none;
  border-bottom: 1px solid #eee;
}

#container .text-center {
  text-align: center;
}

/* ========================================================================= */
/* Server */

#container p.drop-a-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
  width: 200px;
  height: 200px;
  max-width: 100%;
  background: #fff;
  border: 1px solid #000;
  border-radius: 1000px;
  transition: width 1.0s, height 1.0s;
  transition-delay: 0.25s;
  transition-timing-function: ease-in-out;
}

body.drop-hover #container p.drop-a-file {
  /*color: #00A800;*/
  /*border-color: #00DA00;*/
  /*margin-top: 49px;*/
  border-width: 2px;
}

body.dropped #container p.drop-a-file {
  width: 275px;
  height: 50px;
  color: #fff;
  background: #000;
}

#container div.share-url {
  transition: transform 1.0s, opacity 1.0s;
  transition-delay: 1.5s;
  transition-timing-function: ease-in-out;
}

#container div.share-url.hidden {
  transform: translateY(-10px);
  opacity: 0;
}

#container div.share-url p {
  text-align: center;
}

#container div.share-url input {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 275px;
  line-height: 48px; /* to compensate for border */
  text-align: center;
  border: 1px solid #000;
  border-radius: 100px;
  outline: none;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


/* ========================================================================= */
/* Shared */

#container video.selfie {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  /*background: #000;*/
  border: 1px solid #000;
  border-radius: 1000px;
  object-fit: cover;
  transition: border 0.25s;
  transition-timing-function: ease-out;
}

#container video.selfie.paused {
  border: 5px solid #00AAFF;
}

/* ========================================================================= */
/* Client */

#container div.id-required {
  margin: 50px;
}

#container div.id-required a.snap-photo {
  display: block;
  margin: 0 auto;
  width: 150px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
}

#container div.id-required a.snap-photo:hover,
#container div.id-required a.snap-photo:active,
#container div.id-required a.snap-photo:focus {
  color: #fff;
  background: #000;
}

#container div.id-required a.snap-photo:active {
  background: #555;
}

